/* Thiết lập định dạng cho các phần tử tiêu đề và nội dung của trang web */
body {
  background-color: #141414;
  font-family: 'Quicksand', sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.project {
  background-color: #1C1C1C;
  color: white;
  padding: 50px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  max-width: 800px;
  width: 100%;
}

.head {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.art1 {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  border: 5px solid white;
}

.text {
  margin-left: 30px;
}

.text1 {
  font-size: 2em;
  font-weight: bold;
}

.text2 {
  font-size: 1.5em;
  font-style: italic;
}

.mid {
  margin-bottom: 50px;
}

.information {
  display: flex;
  margin-bottom: 30px;
}

.topic {
  font-size: 1.2em;
  margin-right: 10px;
}

.detail {
  font-size: 1.2em;
  font-weight: bold;
}

.detail a {
  color: #fff;
}

/* Thiết lập định dạng cho phần giới thiệu và chân trang của trang web */
.end {
  margin-bottom: 50px;
}

.text3 {
  font-size: 1.2em;
  font-style: italic;
  line-height: 1.5;
}

.contact {
  display: flex;
  justify-content: center;
}

.card {
  display: flex;
  align-items: center;
  background-color: #333;
  color: #fff;
  border-radius: 5px;
  padding: 10px;
  margin-right: 10px;
}

.card:hover {
  background-color: #fff;
  color: #333;
}

.logo {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.link {
  color: #fff;
  text-decoration: none;
}

.link:hover {
  color: #333;
}
