html {
    background-color: pink;
}

.text {
    margin: 12px 0px;
    font-family: cursive;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    border: 5px solid #349084;
    border-radius: 12px;
    background-color: #42b5a6;
    font-style: italic;
}
.text1 {
    margin-left: 30px;
}
.text2 {
    margin-left: 120px;
}
.container {
    background-color: aliceblue;
    border-radius: 18px;
    margin: 30px;
    padding: 20px;
}
.head {
    border-bottom: 1.2px solid black ;
}
.art1 {
    display: block; 
    margin-left: auto; 
    margin-right: auto;
    border-radius: 18px;
    
}

.mid {
    margin: 20px 0px;
    padding-bottom: 20px;
    border-bottom: 1.2px solid black;
      
}
.information {
    display: flex;
    line-height: 24px;
    font-family: 'Quicksand';
}
.topic {
    font-weight:bold;
    color: rgb(55, 55, 55);
}
.detail {
   color: #2c2c2c;
   padding-left: 5px;
}
.myflower {
    color: #DB7093;
}
.end {
    text-align: center;
    font-family: 'Quicksand';
}
.applogo {
    width: 25px;
}
.app{
    display: flex;
    margin-left: 10px;
    background-color: grey;
    border-radius: 18px;
}
.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}
.card {
    margin: 0px 20px;
    padding: 0px;
    display: flex;
    background-color: #efb0c9;
    border-radius: 6px;
    border-color: #DB7093;
    border-width: 5px;
}
.logo {
    width: 20px
}
.link {
    font-weight: bold;
    color: rgb(240,255,255);
    text-decoration: none;
    padding-top: 1.5px;
    margin-left: 1px;
    font-family: 'Quicksand';
}
